table {
    border-collapse: collapse;
    margin: 15px 0;
}

body{
    background-color: #83624B;
    margin: 0;
    padding: 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

label {
    font-family: 'Coiny', cursive;
}

.submit {
    width: 100%;
}

#submit {
    background-color: #8B4513;
}

#submit2{
    background-color: #8B4513;
}

#navbar{
    background-image: url("img/coffee1.jpg");
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#footer {
    background-image: url("img/coffee1.jpg");
    background-size: 100%;
    margin-top: 2%;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#nav-heading{
    color: black;
    font-family: 'Coiny', cursive;
    letter-spacing: 30px;
}

#coffeeNames{
    color:purple;
    font-size: 2em;
    font-family: 'Felipa', cursive;
}

#cofferoast{
    color: limegreen;
    font-size: .6em;
    font-family: 'Coiny', cursive;
}

#footerH{
    color: black;
    font-family: 'Coiny', cursive;
    letter-spacing: 30px;
}